<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>College Discovery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <header>
        <h2>College Discovery</h2>
    </header>
    <main>
        <div class="topnav">
            <a class="navbuttons" href="index.html">Home</a>
            <a class="navbuttons" href="load.html">Access Tools</a>
            <a class="navbuttons" href="resources.html">Resources</a>
            <a class="navbuttons" href="more.html">Learn More</a>
            <a class="navbuttons" href="about.html">About Us</a>
            <a class="navbuttons" href="contact.html">Contact Universities</a>
        </div>

        <h1 class="text-box">Our Mission Statement</h1>
        <div class="intro text-box" style="text-align: center;">
            <p>"At College Discovery, our goal is to empower individuals in their pursuit of higher education and personal growth. We are dedicated to providing comprehensive information, guidance, and resources to help prospective students and learners make informed decisions about their educational journey. Our commitment is to be the trusted gateway that opens doors to diverse opportunities, enabling students to discover their unique path, find the right institution, and unlock their full potential. We believe in the transformative power of education and are driven by the vision of a world where every individual has the tools and knowledge to shape their own future."</p>
        </div>

        <h1 class="text-box">Meet the Developers</h1>
         <div class="card-container">

            <a class="card">
            <h3>Aaron Geneus</h3>
            <p>Information Technology Major - Architecture Track. Focused on designing and implementing robust backend solutions.</p>
            </a>

            <a class="card">
            <h3>Vincent Pham</h3>
            <p>Information Technology Major - Sys. Admin Track. Oversaw the development and maintenance of backend systems to support project timeline.</p>
            </a>

            <a class="card">
            <h3>Timmy Ly</h3>
            <p>Information Technology Major - Sys. Admin Track. Crafted and optimized user interfaces for a seamless and engaging experience for end-users.</p>
            </a>

            <a class="card">
            <h3>Frantz Dumersaint</h3>
            <p>Information Technology Major - Sys. Admin Track. Ensured an intuitive and visually appealing design for optimal user experience.</p>
            </a>
    </div>
    </main>
  <footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:info.collegediscovery@gmail.com">info.collegediscovery@gmail.com</a></p>
            <p>Fax: 1(800)-456-789</p>
            <p>Phone: 1(800)-456-789</p>
        </div>
        <div class="footer-section">
        <h2>Alternative Options</h2>
        <p><a href="https://www.forbes.com/advisor/education/trade-schools/guide-to-trade-school-vocational-programs/" target="_blank">Trade/Vocational School</a></p>
        <p><a href="https://www.mass.gov/info-details/authorized-real-estate-schools" target="_blank">Authorized Real Estate Schools</a></p>
        <p><a href="https://www.understood.org/en/articles/after-high-school-different-paths-to-success" target="_blank">Different Paths to Success</a></p>
        </div>
        <div class="footer-section">
            <h2>Quick Links</h2>
            <p><a href="index.html">Home</a></p>
            <p><a href="load.html">Access Tools</a></p>
            <p><a href="resources.html">Resources</a></p>
        </div>
    </div>
    <div class="copyright">
        &copy; 2023 College Discovery. All rights reserved.
    </div>
</footer>
</body>
</html>
