<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>College Discovery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style19.css') }}">
</head>
<body>
    <header>
        <h2>College Discovery</h2>
    </header>
    <main>
        <div class="topnav">
            <a class="navbuttons" href="index.html">Home</a>
            <a class="navbuttons" href="load.html">Access Tools</a>
            <a class="navbuttons" href="resources.html">Resources</a>
            <a class="navbuttons" href="more.html">Learn More</a>
            <a class="navbuttons" href="about.html">About Us</a>
            <a class="navbuttons" href="contact.html">Contact Universities</a>
        </div>
        <h1 class="text-box">Walk the World</h1><div class="intro text-box">
        <p>International experiences contribute significantly to personal and professional development. They cultivate adaptability, resilience, and a global mindset – qualities highly valued in today's interconnected world. While we are unable to provide data and statistics on this we encourage students to take initiative if this is a route one would like to fufill.</p>

        <div class="video-cards">
            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/XKNbHxnApIw" frameborder="0" allowfullscreen></iframe>
                <u><h3>University of Edinburgh</h3></u>
                <p>Founded by the town council under the authority of a royal charter of King James VI in 1582 and officially opened in 1583, it is one of Scotland's four ancient universities and the sixth-oldest university in continuous operation in the English-speaking world.</p>
            </div>
            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/cdfMgotGKIM" frameborder="0" allowfullscreen></iframe>
                <u><h3>University of Oxford</h3></u>
                <p>The oldest university in the English-speaking world and the world's second-oldest university in continuous operation. It grew rapidly from 1167, when Henry II banned English students from attending the University of Paris.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/vI95me2fnVA" frameborder="0" allowfullscreen></iframe>
                 <u><h3>University of Melbourne</h3></u>
                <p>Founded in 1853, it is Australia's second oldest university and the oldest in Victoria.The university comprises ten separate academic units and is associated with numerous institutes and research centres, including the Walter and Eliza Hall Institute of Medical Research.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/K17D5997i_s" frameborder="0" allowfullscreen></iframe>
                 <u><h3>University of Iceland</h3></u>
                <p>A public research university in Reykjavík, Iceland, and the country's oldest and largest institution of higher education. Founded in 1911, it has grown steadily from a small civil servants' school to a modern comprehensive university, providing instruction for about 14,000 students in twenty-five faculties</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/I6vYkazXeik" frameborder="0" allowfullscreen></iframe>
                 <u><h3>ETH Zurich</h3></u>
                <p>A public research university in Zürich, Switzerland. Founded by the Swiss federal government in 1854, with the stated mission to educate engineers and scientists; the school focuses primarily on science, technology, engineering, and mathematics, although its 16 departments span a variety of disciplines and subjects.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/WR75mfxV5xo" frameborder="0" allowfullscreen></iframe>
                 <u><h3>University de Barcelona</h3></u>
                <p>With 63,000 students, it is one of the biggest universities in Spain. It is one of the oldest universities in both Catalonia and Spain, established in 1450. It is considered the best university in Spain, according to the US News and World Report and Times Higher Education.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/Gww22bG-Igw" frameborder="0" allowfullscreen></iframe>
                 <u><h3>University of Salamanca</h3></u>
                <p>It was founded in 1218 by King Alfonso IX. It is the oldest university in the Hispanic world and one of the oldest in the world in continuous operation. It has over 30,000 students from 50 different nationalities.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/NGKpYUWtUuE" frameborder="0" allowfullscreen></iframe>
                 <u><h3>University of St. Andrews</h3></u>
                <p>A public university in St Andrews, Scotland. It is the oldest of the four ancient universities of Scotland and, following the universities of Oxford and Cambridge, the third-oldest university in the English-speaking world and was founded in 1413.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/REZbEfu1TCg" frameborder="0" allowfullscreen></iframe>
                 <u><h3>University of Strasbourg</h3></u>
                <p>A public research university located in Strasbourg, France, with over 52,000 students and 3,300 researchers. Founded in the 16th century by Jean Sturm, it was an intellectual hotbed during the Age of Enlightenment.</p>
            </div>

            <div class="video-card">
                <iframe width="280" height="157" src="https://www.youtube.com/embed/WKTooGuItmo" frameborder="0" allowfullscreen></iframe>
                 <u><h3>Heidelberg University</h3></u>
                <p>Is a public research university in Heidelberg, Baden-Württemberg, Germany. Founded in 1386 on instruction of Pope Urban VI, Heidelberg is Germany's oldest university and one of the world's oldest surviving universities; it was the third university established in the Holy Roman Empire after Vienna and Prague.</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: <a href="mailto:info.collegediscovery@gmail.com">info.collegediscovery@gmail.com</a></p>
                <p>Fax: 1(800)-456-789</p>
                <p>Phone: 1(800)-456-789</p>
            </div>
            <div class="footer-section">
                <h2>Alternative Options</h2>
                <p><a href="https://www.forbes.com/advisor/education/trade-schools/guide-to-trade-school-vocational-programs/" target="_blank">Trade/Vocational School</a></p>
                <p><a href="https://www.mass.gov/info-details/authorized-real-estate-schools" target="_blank">Authorized Real Estate Schools</a></p>
                <p><a href="https://www.understood.org/en/articles/after-high-school-different-paths-to-success" target="_blank">Different Paths to Success</a></p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <p><a href="index.html">Home</a></p>
                <p><a href="load.html">Access Tools</a></p>
                <p><a href="resources.html">Resources</a></p>
            </div>
        </div>
        <div class="copyright">
            &copy; 2023 College Discovery. All rights reserved.
        </div>
    </footer>
</body>
</html>