* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    animation: rotateBackground 20s infinite; 
}

@keyframes rotateBackground {
    0%, 25% {
        background-image: url('lb.jpg');
    }
    30%, 55% {
        background-image: url('bc.jpg');
    }
    60%, 85% {
        background-image: url('md.jpg');
    }
    90%, 100% {
        background-image: url('wo.jpg');
    }
}

main {
    max-width: 800px;
    margin: 20px auto 40px; 
    padding: 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1.text-box {
    font-size: 28px;
    text-align: center;
    color: #333;
}

.text-box {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 0 0 10px 10px;
}

header h2 {
    font-size: 24px;
}

.topnav {
    overflow: hidden;
    text-align: center;
    background-color: #333;
}

.navbuttons {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbuttons:hover {
    background-color: #555;
}

.intro {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

button {
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;


}

button:hover {
    background-color: #555;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

.footer p {
    font-size: 16px;
    margin: 5px 0; 
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 10px; 
    margin-left: 120px; 
    font-size: 14px;
    color: #888;
    text-decoration: underline;

}

